.bill-container
{
  padding-left: 2em;
  height: 100%;
    width: 100%;
    display: flex;
    padding-top: 0.1em;
}
.bill-form-container{
  /* padding-left: 2em; */
  top:0em;
  float: right;
  width: 75%;
  /* color: aliceblue; */

}
.sidebar{
    float: left;
    width: 15%;
    height: 100%;
}
.card
{
    padding-left: 3em;
    padding-right: 3em;
}

h1{
    text-align: center;
    font-weight: bolder;
    font-size: 2ex;
}

.btn {
    font-size: inherit;
}
.form-group label{
    margin-bottom: 0em;
}
