<div class="conn-container">
    <div class="sidebar">
      
      <app-main-nav></app-main-nav>
    </div>
  
    <div class="conn-form-container">
       
        
<div [hidden]="submitted" style="padding-left: 15em; padding-right: 15em; padding-top: 3em;">
    <div class="card">
        <div class="card-body">
            <h1>Connection Details</h1>
  <form > 
    <div class="form-group">
        <label for="name">User Id: </label>
        <input type="number" class="form-control" id="userId" required [(ngModel)]="connection.userId" name="userId">
      </div>
    <div class="form-group">
        <label for="name">Connection Name: </label>
        <input type="text" class="form-control" id="connectionName" required [(ngModel)]="connection.connectionName" name="connectionName">
      </div>
      <div class="form-group">
        <label for="name">Connection Type: </label>
        <label for="rd1">Domestic</label><input type="radio" class="form-control" id="rd1" required [(ngModel)]="connection.connectionType" name="connectionType" value="Domestic">
        
        <label for="rd2">Commercial</label><input type="radio" class="form-control" id="rd2" required [(ngModel)]="connection.connectionType" name="connectionType" value="Commercial">
      </div>
    <div class="form-group">
      <label for="name">Connection Start Date: </label>
      <input type="date" class="form-control" id="connectionStartDate" required [(ngModel)]="connection.connectionStartDate" name="connectionStartDate">
    </div>
      <!-- <button type="submit" class="btn btn-success" >Submit</button> -->
      <button class="btn btn-success" (click)="onSubmit()">Submit</button>
  </form>
</div>
</div>
</div>

<div [hidden]="submitted">
  <!-- <h4>You submitted successfully!</h4> -->
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>
        <!-- <app-user-list></app-user-list> -->
    </div>
  </div>