.sidenav-container {
  /* height: 100%; */
  padding-top: 6em;
}

.sidenav {
  width: 200px;
  padding-top: 6em;
  /* background: whitesmoke; */
}

.sidenav .mat-toolbar {
  /* background: whitesmoke; */
  top: 6em;
  color: whitesmoke;
  font-weight: bolder;
  font-size: 30px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  
}
a:link{
  color:whitesmoke;
}
a{
  font-size: 20px;
  font-weight: bolder;
  
}
a:hover{
  background-color: transparent;
  color: antiquewhite;
}