.admin-container
{
  padding-left: 2em;
  height: 100%;
    width: 100%;
    display: flex;
    padding-top: 0.1em;
}
.user-list-container{
   /* padding-left: 2em;  */
  top:0em;

  float: right;
  width: 50%;
  color: aliceblue;

}
.sidebar{
    float: left;
    width: 15%;
    height: 100%;
}