.table{
    color: burlywood;
    font-weight: bolder;
    background-color: rgb(49, 40, 97);
}
th{
    color: darkgray;
    font-weight: bolder;
}
h2{
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
}